section {
  position: absolute;
  top: 0;
  left: 0;
  right: 1;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}


.btnok {
  background-color: #9acd32;
  border: 8px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
